:root {

  // --ion-color-primary: #0066b3;
  // --ion-color-primary-rgb: 0,102,179;
  // --ion-color-primary-contrast: #ffffff;
  // --ion-color-primary-contrast-rgb: 255,255,255;
  // --ion-color-primary-shade: #005a9e;
  // --ion-color-primary-tint: #1a75bb;
  
  --ion-color-primary: #0471A8;
  --ion-color-primary-rgb: 32,149,242;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #2095F2;
  --ion-color-primary-tint: #36a0f3;

  --ion-color-secondary: #f9f9f9;
  --ion-color-secondary-rgb: 249,249,249;
  --ion-color-secondary-contrast: #0066b3;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #dbdbdb;
  --ion-color-secondary-tint: #fafafa;

  /* Color destacado invalido */
  --highlight-color-invalid :#f04141;
  .item-interactive.ion-invalid{
    --highlight-background:  #f04141 ;
  }
  /* Color destacado valido */
  --highlight-color-valid: #10dc60; 
  .item-interactive.ion-valid{
    --highlight-background:  #10dc60 ;
  }

}

.highlight-color-valid { --ion-color-base: var(--highlight-color-valid); }
.highlight-color-invalid { --ion-color-base: var(--highlight-color-invalid); }


.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-secondary {
  --ion-color-base: var(--ion-color-secondary);
  --ion-color-base-rgb: var(--ion-color-secondary-rgb);
  --ion-color-contrast: var(--ion-color-secondary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondary-shade);
  --ion-color-tint: var(--ion-color-secondary-tint);
}